.ant-input-search-button:hover {
    color: var(--Color-Theme) !important;
    border-color: var(--Color-Theme) !important;
}

.ant-input-affix-wrapper.css-dev-only-do-not-override-txh9fw:hover {
    border-color: var(--Color-Theme) !important;
}

.ant-input-affix-wrapper-focused {
    box-shadow: 0 0 0 2px rgba(245, 143, 152, 0.1);
    border-color: var(--Color-Theme) !important;
}
